
<form class="" action="/sushis" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="" placeholder="name"><br>
  <label for="description">Description:</label>
  <input type="text" name="description" value="" placeholder="description"><br>
  <input type="submit" name="" value="submit"><br>
</form>
